*.o
*.a
.deps
*~
*.pyc
.DS_Store
Makefile.in
/aclocal.m4
/autom4te.cache
/build*
/config.h.in
/config.h
/config.log
/config.status
/configure
/m4
/Makefile
/tools/Makefile
/lib/Makefile
/src/Makefile
/test/Makefile
/libtool
/stamp-h1
/test/lit.cfg
/bin
/lib/boolector
/lib/boolector-*
/lib/lingeling
/lib/lingeling-*
/stack-*
